# UniFi Controller
UNIFI_USER=admin
UNIFI_PASS=sua_senha
UNIFI_SITE=default

# AdGuard Home
AG_USER=admin
AG_PASS=sua_senha

# NVD Intelbras
NVD_HOST=https://192.168.200.100
NVD_USER=admin
NVD_PASS=sua_senha
NVD_CAMERAS=6

# CallMeBot (WhatsApp)
CALLMEBOT_PHONE=5516999999999
CALLMEBOT_APIKEY=0000000

# Localização da câmera (para a notificação)
CAMERA_LOCATION=Escritório
